<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Modulo 5</title>
</head>
<body>
    <h1 id="top">Sistema de gestão de acesso</h1>
    <nav id="navbar">
        <ul>
            <li><a href="/cadastro">Cadastre-se</a></li>

            <li><a href="/login">Realizar login</a></li>
        </ul>
    </nav>
    
    {{{body}}}


    {{footer}}
</body>
</html>