

<h1 class="login0">Faça seu login para acessar a área do administrador</h1>
<div class="corpo">

        



<form action="/adm">
<fieldset> 
<p>Login</p>   
<input type="text" name="login">
<br>
<p>Senha</p>
<input type="text" name="senha" ><br>
<button type="submit">Login</button>
</form>
</div>
